{% extends 'inventory/base.html' %}

{% block title %}Order #{{ order.id }}{% endblock %}

{% block content %}
<div class="section">
    <h1 class="center-align">Order #{{ order.id }}</h1>
    <p><strong>Order Date:</strong> {{ order.order_date }}</p>
    {% if order.invoice_id %}
        <p><strong>Invoice ID:</strong> {{ order.invoice_id }} {% if order.invoice %}<a href="{{ order.invoice.url }}" target="_blank">(Download)</a>{% endif %}</p>
    {% endif %}

    Total Order Value: {{ total_value }}

    <h2>Order Items</h2>
    <table class="striped order-table">
      <thead>
          <tr>
            <th class="left-column">Product</th>
            <th class="right-column">Items</th>
          </tr>
      </thead>

      <tbody>
        {% for product, data in grouped_items.items %}
          <tr class="collection">
            <td class="collection-item avatar left-column">
              {% if product.product_photo %}
                  <img src="{{ product.product_photo.url }}" alt="{{ product.product_name }}" class="circle">
              {% endif %}
              <strong>{{ product.product_name }}</strong> ({{ product.product_id }})<br/>
              Total Quantity: <strong>{{ data.total_quantity }}</strong>
              <p>Total Value: {{ data.total_value }}</p> <!-- Display total value for each product -->
            </td>
            <td class="right-column">
                <table class="striped sub-table">
                {% for item in data.items %}
                  <tr>

                      <td>{{ item.quantity }} x {{ item.product_variant.variant_code }}</td>
                      <td>Cost Price: {{ item.item_cost_price }} CNY</td>
                      <td>Expected: {{ item.date_expected }}</td>
                      <td>
                      {% if item.date_arrived %}
                           Arrived: {{ item.date_arrived }}
                      {% endif %}
                      </td>
                  </tr>
                {% endfor %}
                </table>

            </td>
          </tr>
        {% endfor %}
    </tbody>

    <div class="center-align">
        <a href="{% url 'order_list' %}" class="btn">Back to Orders</a>
    </div>
</div>
{% endblock %}
